<h1>Utilisateurs</h1>

<% form_tag(admin_users_path, :method => :get) do %>
  <span style="white-space:nowrap"><label for="filter">Filtre: </label><%= text_field_tag 'filter', params[:filter], :size=>45  %></span>
<% end %>
  
<p><%= link_to 'Nouvel utilisateur', new_admin_ldap_user_path %></p>

<table>
  <thead>
    <tr>
    	<td>Login</td><td>Nom</td><td>Tous canaux</td><td>Profil</td><td>Admin</td>
    	<td></td><td></td><td></td>
    </tr>
  </thead>

  <tbody>
	<% for user in @users %>
	  <tr>
	    <td><%=h user.login %></td>
	    <td><%=h user.name %></td>
	    <td><%=display_boolean user.all_channels %></td>
	    <td><%=h user.profile.name rescue nil %></td>
	    <td><%=display_boolean user.is_admin  %></td>
	    <td><%= link_to 'Afficher', :action=>:show, :id=>user.id  %></td>
	    <td><%= link_to 'Modifier', edit_admin_user_path(user) %></td>
	    <td><%= link_to 'Supprimer', {:action=>:show, :id=>user.id} , :data => { :confirm => "Etes-vous certain de vouloir supprimer #{user.name} ?" }, :method => :delete %></td>
	  </tr>
	<% end %>
	<%if @users.total_pages > 1%>
		<tr>
			<td colspan="8" style="text-align:center"><%= will_paginate :prev_label => 'Précédent', :next_label => 'Suivant' %></td>
		</tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to 'Nouvel utilisateur', new_admin_ldap_user_path %>
